<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>asdfasfd</h1>
<h2>sadfasdf</h2>
<center><p>Fucking shit</p></center>
<p>Fucking <strong>результат тега </strong>shit 2</p>
<p>Fucking <em>результат тега </em>shit 2</p>
<p>Fucking <strike>результат тега </strike>shit 2</p>
<p>Fucking <u>результат тега </u>shit 2</p>
<p><abbr title="HyperTextMarkupLanguage">HTML</abbr></p>
<address>Omsk, Omskaya 2123</address>
<p align="center">Fucking <strong><em><strike><u>результат тега</u></strike></em></strong> shit</p>
<small>SmallText</small>
<big>BigText</big>
<pre>sadf
asdf
fasdfff                 dsdf</pre>
<blockquote cite="источник откуда взяли, только для поиск роботов">Вывод цитаты, выделенной пробелами</blockquote>

<blockquote cite="источник"><p>Автор утверждал <q>Всякуюхреньутверждал</q></p></blockquote>
<hr/>
<!--Пустая строка-->


</body>
</html>